img {
    width: 50%;
    } 
    h6 {
        color : yellow;
    
    }
    h5 {
        font-style: Italic;
    }
    div {
        width: 50%;
        margin-left: 25%;
    }

    .testa {
        text-align: center;
        height: auto;
        background-color: rgba (223,223 223, 0.0623);
    }